<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>CINEMATRIX</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet" />

    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <%- include("../../utils/header") %> 

    <% if(data.User_Role=='Admin'){ %>

    <%- include("../../utils/admin_side") %>
  
    <% } %>

    <% if(data.User_Role=='User'){ %>

    <%- include("../../utils/side") %>
    
    <% } %>


    <main id="main" class="main" style="background-color:black">
      <div class="pagetitle">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
          </ol>
        </nav>
      </div>

      <div class="card">
        <div class="card-header" style="color:white ;background-color:black;">
          <div class="col-md-4" style="display:flex;"><h2 style="margin: 1%;">Filter</h2><i class="fa-solid fa-filter" style="font-size: x-large; display:flex; align-items:center; color:grey; margin:2%"></i></div>
          <form
            class="row g-3 needs-validation"
            novalidate
            id="filterform"
            action="/movieview/1"
            method="post"
            onsubmit="return setDefaultValues(event)"
          >
            <div class="col-md-4">
              <label for="validationCustom02" class="form-label">Title</label>
              <input type="text" class="form-control"
              name="filtertitle" id="filtertitle" placeholder="Search by Title">
            </div>

            <div class="col-md-4">
              <label for="validationCustom02" class="form-label">Age Rating</label>
              <select name="filterage" id="filterage" class="form-control" aria-placeholder="Search By Age Rating">
                <option value="%%" selected>Select Age Rating</option>
                <option value="G">G</option>
                <option value="NC-17">NC-17</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
              </select>
            </div>

            <div class="col-md-4">
              <label for="validationCustom02" class="form-label">Genre</label>
              <select name="filtergenre" id="filtergenre" class="form-control" aria-placeholder="Search By Genre">
                <option value="%%" selected>Select Genre</option>
                <option value="Action">Action</option>
                <option value="Adventure">Adventure</option>
                <option value="Animation">Animation</option>
                <option value="Comedy">Comedy</option>
                <option value="Documentary">Documentary</option>
                <option value="Drama">Drama</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Horror">Horror</option>
                <option value="Mystery">Mystery</option>
                <option value="Romance">Romance</option>
                <option value="Sci-Fi">Sci-Fi</option>
                <option value="Thriller">Thriller</option>
              </select>
            </div>

            <div class="col-md-4">
              <label for="validationCustom01" class="form-label">Language</label>
              <select name="filterlanguage" id="filterlanguage" class="form-control" aria-placeholder="Search By Language">
                <option value="%%" selected>Select Language</option>
                <option value="English">English</option>
                <option value="French">French</option>
                <option value="German">German</option>
                <option value="Hindi">Hindi</option>
                <option value="Japanese">Japanese</option>
                <option value="Mandarin">Mandarin</option>
                <option value="Spanish">Spanish</option>
              </select>
            </div>

            <div class="col-md-4">
              <label for="validationCustom01" class="form-label">Released After</label>
              <input type="text" class="form-control"
              name="filteryear" id="filteryear" placeholder="Search by Year">
            </div>

            <div class="col-md-4">
              <label for="validationCustom01" class="form-label">Award Category</label>
              <select name="filterawardcat" id="filterawardcat" class="form-control" aria-placeholder="Search By Award Category">
                <option value='IS NOT NULL OR AW.Award_Name IS NULL)' selected>Select Award Category</option>
                <option value="Best Animated Feature">Best Animated Feature</option>
                <option value="Best Direction">Best Direction</option>
                <option value="Best Picture">Best Picture</option>
              </select>
            </div>

            <div class="col-md-4">
              <label for="validationCustom01" class="form-label">Minimum Revenue</label>
              <input type="text" class="form-control"
              name="filterminrevenue" id="filterminrevenue" placeholder="Search by Minimum Revenue">
            </div>

            <div class="col-md-4">
              <label for="validationCustom01" class="form-label">Order By Rating</label>
              <select name="filterorder" id="filterorder" class="form-control" aria-placeholder="Select Order">
                <option value=" " selected>Select Order</option>
                <option value="ORDER BY Movie_Rating ASC">Ascending</option>
                <option value="ORDER BY Movie_Rating DESC">Descending</option>
              </select>
            </div>
            
            <div class="col-12">
              <button class="btn btn-primary" id="tablefocus" type="submit">Filter</button>
            </div>
          </form>
        </div>
      </div>

      <section class="section" style="color: white; background-color:black;">
        <div class="row">
          <div class="col-lg-12">
            <div class="card" style="color: white; background-color:black;">
              <div class="card-body" style="color: white; background-color:black;">
                <h5 class="card-title" style="color: white;">Movies</h5>
                <% if(message == ""){ %>
                  <div class="scrollbarclass" id="tablefocus" style="max-height: 400px; overflow-y: auto; overflow-x: auto;">
                    <table class="table table-striped table-dark text-nowrap table-responsive" style="color: white; background-color:black;">
                      <thead>
                        <tr>
                          <th scope="col no-wrap">S.No.</th>
                          <th scope="col no-wrap">Title</th>
                          <th scope="col no-wrap">Release Year</th>
                          <th scope="col no-wrap">Rating</th>
                          <th scope="col no-wrap">No. of Ratings</th>
                          <th scope="col"></th>
                          <% if(data.User_Role=='Admin'){ %>
                            <th scope="col"></th>
                            <% } %>
                        </tr>
                      </thead>
    
                      <tbody>
                        <div>
                          <%let i=1; %> <% for (let dataobj of moviedata){ %>
                            <tr>
                              <th scope="row"><%=i%></th>
                              <td><%=dataobj.Movie_Title%></td>
                              <td><%=dataobj.Year_Of_Release%></td>
                              <td><%=dataobj.Movie_Rating%></td>
                              <td><%=dataobj.Num_Ratings_Movies%></td>
                              <td>
                                <form
                                  class="filter"
                                  action="/view_movie_details/<%=dataobj.Movie_ID%>"
                                  method="get"
                                >
                                <input
                                  type="submit"
                                  class="btn btn-info"
                                  value="View Details"
                                />
                                </form>
                              </td>
                              <% if(data.User_Role=='Admin'){ %>
                                <td>
                                  <form
                                    class="filter"
                                    action="/delete_movie/<%=dataobj.Movie_ID%>"
                                    method="post"
                                    onsubmit="return confirmDelete();"
                                  >
                                    <input
                                      type="submit"
                                      class="btn btn-danger"
                                      value="Delete"
                                    />
                                  </form>
                                </td>
                                <% } %>
      
                            </tr>
                            <% i=i+1; }%>
                        </div>
                      </tbody>
                    </table>
                  </div>
                  <% } %>
                  <% if(message){ %>
                  <h3 class="card-title" style="color: white; font-size: 1.5rem"><%= message %></h3>
                    <% } %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include("../../utils/footer")%>

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/chart.js/chart.min.js"></script>
    <script src="/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/assets/vendor/quill/quill.min.js"></script>
    <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <script src="/assets/js/main.js"></script>
    <script>
      function confirmDelete() {
        var result = confirm("Are you sure you want to delete this Movie?");
        return result;
      }
      
      function setDefaultValues(event){
        event.preventDefault();
        const movietitle = document.getElementById("filtertitle");
        const agerating = document.getElementById("filterage");
        const genre = document.getElementById("filtergenre");
        const language = document.getElementById("filterlanguage");
        const year = document.getElementById("filteryear");
        const awardcat = document.getElementById("filterawardcat");
        const minrevenue = document.getElementById("filterminrevenue");
        const order = document.getElementById("filterorder");
        if (movietitle.value === "") {
          movietitle.value = "%%%";
        }
        else {
          movietitle.value = "%%" + movietitle.value + "%";
        } 
        if (year.value === "") {
          year.value = "0000";
        }
        if (minrevenue.value === "") {
          minrevenue.value = "0";
        }
        document.getElementById("filterform").submit();

        window.addEventListener('pageshow', function(event) {
            if (event.persisted) { 
                location.reload(); 
            }
        });
      }
      if (window.location.pathname === "/movieview/1") {
        document.addEventListener("DOMContentLoaded", function() {
          const targetTable = document.getElementById("tablefocus");
          if (targetTable) {
              targetTable.scrollIntoView({ behavior: "smooth" });
              targetTable.focus();
          }
      }
      )};
    </script>
  </body>
</html>
