<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>CINEMATRIX</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet" />

    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <%- include("../../utils/header") %> 

    <% if(data.User_Role=='Admin'){ %>

    <%- include("../../utils/admin_side") %>
  
    <% } %>

    <% if(data.User_Role=='User'){ %>

    <%- include("../../utils/side") %>
    
    <% } %>

    <main id="main" class="main" style="background-color:black">
      <div class="pagetitle">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
          </ol>
        </nav>
      </div>

      <section class="section" style="color: white; background-color:black;">
        <div class="row">
          <div class="col-lg-12">
            <div class="card scrollbarclass" style="overflow-x: scroll; color: white; background-color:black;">
              <div class="card-body" style="color: white; background-color:black; border-bottom: 2px solid gray; margin-bottom: 10px;" >
                <div style="border-bottom: 2px solid gray; padding-bottom: 10px;">
                    <div style="display: flex; justify-content: center; width: 100%; border-bottom: 2px solid gray;">
                        <h3 class="card-title pb-4" style="color: white; font-size: 1.5rem">Details of the Celebrity</h3>
                    </div>
                    <h5 class="card-title" style="color: white;">Name: &nbsp;&nbsp;&nbsp; <%= celebdetails.Name%></h5>
                    <h5 class="card-title" style="color: white;">Date of Birth: &nbsp;&nbsp;&nbsp; <%= celebdetails.DOB%></h5>
                    <h5 class="card-title" style="color: white;">Gender: &nbsp;&nbsp;&nbsp; <%= celebdetails.Gender%></h5>
                    <h5 class="card-title" style="color: white;">Age: &nbsp;&nbsp;&nbsp; <%= celebdetails.Age%></h5>
                    <h5 class="card-title" style="color: white;">Nationality: &nbsp;&nbsp;&nbsp; <%= celebdetails.Nationality%></h5>
                    
              </div>
                <h5 class="card-title mb-4 mt-4" style="color: white;">Directorial Style: &nbsp;&nbsp;&nbsp; 
                    <%if(ds.length == 0) { %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450">None</span>
                    <% } %>
                    <% if(ds.length != 0){ %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450"><%= ds[0].Directorial_Style %>&nbsp;</span>
                    <% } %>
                </h5>
                    
                <h5 class="card-title mb-4 mt-4" style="color: white;">Role Range : &nbsp;&nbsp;&nbsp; 
                    <%if(rr.length == 0) { %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450">None</span>
                    <% } %>
                    <% if(rr.length != 0){ %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450"><%= rr[0].Role_Range %>&nbsp;</span>
                    <% } %>
                </h5>

                <h5 class="card-title mb-4 mt-4 pb-5" style="color: white;  border-bottom: 2px solid gray;">Production Methodology : &nbsp;&nbsp;&nbsp; 
                    <%if(pm.length == 0) { %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450">None</span>
                    <% } %>
                    <% if(pm.length != 0){ %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450"><%= pm[0].Production_Methodology %>&nbsp;</span>
                    <% } %>
                </h5>
                    
                <h5 class="card-title mb-4 mt-4" style="color: white;">Awards Received: &nbsp;&nbsp;&nbsp; 
                    <%if(awarddetails.length == 0) { %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450">The Celebrity has not received any Awards</span>
                    <% } %>
                </h5>
                <% if(awarddetails.length != 0){ %>
                <div class="scrollbarclass" style="max-height: 200px; overflow-y: auto; overflow-x: auto;">
                    <table class="table table-striped table-dark text-nowrap" style="color: white; border-collapse: collapse; width: 100%;">
                        <thead>
                            <tr style="border-bottom: 1px solid white;">
                                <th style="padding: 10px;">S.No.</th>
                                <th style="padding: 10px;">Award Name</th>
                                <th style="padding: 10px;">Award Category</th>
                                <th style="padding: 10px;">Year Received</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%let i=1; %> <% for (let dataobj of awarddetails){ %>
                                <tr>
                                    <th scope="row"><%=i%></th>
                                    <td><%=dataobj.Award_Name%></td>
                                    <td><%=dataobj.Award_Category%></td>
                                    <td><%=dataobj.Year_Of_Awarding%></td>
                                </tr>
                                <% i=i+1; }%>
                            </tbody>
                        </table>
                    </div>
                <% } %>

                <h5 class="card-title mb-4 mt-4" style="color: white;">Movies Acted In: &nbsp;&nbsp;&nbsp; 
                    <%if(moviedetailsact.length == 0) { %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450">The Celebrity has not Acted in any movies</span>
                    <% } %>
                </h5>
                <% if(moviedetailsact.length != 0){ %>
                    <div class="scrollbarclass" id="tablefocus" style="max-height: 400px; overflow-y: auto; overflow-x: auto;">
                        <table class="table table-striped table-dark text-nowrap table-responsive" style="color: white; background-color:black;">
                          <thead>
                            <tr>
                              <th scope="col no-wrap">S.No.</th>
                              <th scope="col no-wrap">Title</th>
                              <th scope="col no-wrap">Release Year</th>
                              <th scope="col no-wrap">Rating</th>
                              <th scope="col no-wrap">No. of Ratings</th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
        
                          <tbody>
                            <div>
                              <%let u=1; %> <% for (let dataobj of moviedetailsact){ %>
                                <tr>
                                  <th scope="row"><%=u%></th>
                                  <td><%=dataobj.Movie_Title%></td>
                                  <td><%=dataobj.Year_Of_Release%></td>
                                  <td><%=dataobj.Movie_Rating%></td>
                                  <td><%=dataobj.Num_Ratings_Movies%></td>
                                  <td>
                                    <form
                                      class="filter"
                                      action="/view_movie_details/<%=dataobj.Movie_ID%>"
                                      method="get"
                                    >
                                    <input
                                      type="submit"
                                      class="btn btn-info"
                                      value="View Details"
                                    />
                                    </form>
                                  </td>
                                </tr>
                                <% u=u+1; }%>
                            </div>
                          </tbody>
                        </table>
                      </div>
                <% } %>

                <h5 class="card-title mb-4 mt-4" style="color: white;">Movies Directed: &nbsp;&nbsp;&nbsp; 
                    <%if(moviedetailsdir.length == 0) { %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450">The Celebrity has not Directed any movies</span>
                    <% } %>
                </h5>
                <% if(moviedetailsdir.length != 0){ %>
                    <div class="scrollbarclass" id="tablefocus" style="max-height: 400px; overflow-y: auto; overflow-x: auto;">
                        <table class="table table-striped table-dark text-nowrap table-responsive" style="color: white; background-color:black;">
                          <thead>
                            <tr>
                              <th scope="col no-wrap">S.No.</th>
                              <th scope="col no-wrap">Title</th>
                              <th scope="col no-wrap">Release Year</th>
                              <th scope="col no-wrap">Rating</th>
                              <th scope="col no-wrap">No. of Ratings</th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
        
                          <tbody>
                            <div>
                              <%let y=1; %> <% for (let dataobj of moviedetailsdir){ %>
                                <tr>
                                  <th scope="row"><%=y%></th>
                                  <td><%=dataobj.Movie_Title%></td>
                                  <td><%=dataobj.Year_Of_Release%></td>
                                  <td><%=dataobj.Movie_Rating%></td>
                                  <td><%=dataobj.Num_Ratings_Movies%></td>
                                  <td>
                                    <form
                                      class="filter"
                                      action="/view_movie_details/<%=dataobj.Movie_ID%>"
                                      method="get"
                                    >
                                    <input
                                      type="submit"
                                      class="btn btn-info"
                                      value="View Details"
                                    />
                                    </form>
                                  </td>
                                </tr>
                                <% y=y+1; }%>
                            </div>
                          </tbody>
                        </table>
                      </div>
                <% } %>

                <h5 class="card-title mb-4 mt-4" style="color: white; border-bottom: 2px solid gray;">Movies Produced: &nbsp;&nbsp;&nbsp; 
                    <%if(moviedetailspro.length == 0) { %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450">The Celebrity has not Produced any movies</span>
                    <% } %>
                </h5>
                <% if(moviedetailspro.length != 0){ %>
                    <div class="scrollbarclass" id="tablefocus" style="max-height: 400px; overflow-y: auto; overflow-x: auto; border-bottom: 2px solid gray;">
                        <table class="table table-striped table-dark text-nowrap table-responsive" style="color: white; background-color:black;">
                          <thead>
                            <tr>
                              <th scope="col no-wrap">S.No.</th>
                              <th scope="col no-wrap">Title</th>
                              <th scope="col no-wrap">Release Year</th>
                              <th scope="col no-wrap">Rating</th>
                              <th scope="col no-wrap">No. of Ratings</th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
        
                          <tbody>
                            <div>
                              <%let w=1; %> <% for (let dataobj of moviedetailspro){ %>
                                <tr>
                                  <th scope="row"><%=w%></th>
                                  <td><%=dataobj.Movie_Title%></td>
                                  <td><%=dataobj.Year_Of_Release%></td>
                                  <td><%=dataobj.Movie_Rating%></td>
                                  <td><%=dataobj.Num_Ratings_Movies%></td>
                                  <td>
                                    <form
                                      class="filter"
                                      action="/view_movie_details/<%=dataobj.Movie_ID%>"
                                      method="get"
                                    >
                                    <input
                                      type="submit"
                                      class="btn btn-info"
                                      value="View Details"
                                    />
                                    </form>
                                  </td>
                                </tr>
                                <% w=w+1; }%>
                            </div>
                          </tbody>
                        </table>
                      </div>
                <% } %>

                <h5 class="card-title mb-4 mt-4" style="color: white;">TV Shows Acted In: &nbsp;&nbsp;&nbsp; 
                    <%if(showdetailsact.length == 0) { %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450">The Celebrity has not Acted in any TV Shows</span>
                    <% } %>
                </h5>
                <% if(showdetailsact.length != 0){ %>
                    <div class="scrollbarclass" id="tablefocus" style="max-height: 400px; overflow-y: auto; overflow-x: auto;">
                        <table class="table table-striped table-dark text-nowrap table-responsive" style="color: white; background-color:black;">
                          <thead>
                            <tr>
                                <th scope="col">S.No.</th>
                                <th scope="col">Title</th>
                                <th scope="col">No of Seasons</th>
                                <th scope="col">Release Year</th>
                                <th scope="col">Rating</th>
                                <th scope="col">No. of Ratings</th>
                                <th scope="col"></th>
                            </tr>
                          </thead>
        
                          <tbody>
                            <div>
                              <%let v=1; %> <% for (let dataobj of showdetailsact){ %>
                                <tr>
                                    <th scope="row"><%=v%></th>
                                    <td><%=dataobj.Title%></td>
                                    <td><%=dataobj.Number_Of_Seasons%></td>
                                    <td><%=dataobj.Release_Year%></td>
                                    <td><%=dataobj.TVShow_Rating%></td>
                                    <td><%=dataobj.Num_Ratings_TV%></td>
                                    <td>
                                      <form
                                        class="filter"
                                        action="/view_tvshow_details/<%=dataobj.Show_ID%>"
                                        method="get"
                                      >
                                        <input
                                          type="submit"
                                          class="btn btn-info"
                                          value="View Details"
                                        />
                                      </form>
                                    </td>    
                                  </tr>
                                <% v=v+1; }%>
                            </div>
                          </tbody>
                        </table>
                      </div>
                <% } %>

                <h5 class="card-title mb-4 mt-4" style="color: white;">TV Shows Directed: &nbsp;&nbsp;&nbsp; 
                    <%if(showdetailsdir.length == 0) { %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450">The Celebrity has not Directed any TV Shows</span>
                    <% } %>
                </h5>
                <% if(showdetailsdir.length != 0){ %>
                    <div class="scrollbarclass" id="tablefocus" style="max-height: 400px; overflow-y: auto; overflow-x: auto;">
                        <table class="table table-striped table-dark text-nowrap table-responsive" style="color: white; background-color:black;">
                          <thead>
                            <tr>
                                <th scope="col">S.No.</th>
                                <th scope="col">Title</th>
                                <th scope="col">No of Seasons</th>
                                <th scope="col">Release Year</th>
                                <th scope="col">Rating</th>
                                <th scope="col">No. of Ratings</th>
                                <th scope="col"></th>
                            </tr>
                          </thead>
        
                          <tbody>
                            <div>
                              <%let x=1; %> <% for (let dataobj of showdetailsdir){ %>
                                <tr>
                                    <th scope="row"><%=x%></th>
                                    <td><%=dataobj.Title%></td>
                                    <td><%=dataobj.Number_Of_Seasons%></td>
                                    <td><%=dataobj.Release_Year%></td>
                                    <td><%=dataobj.TVShow_Rating%></td>
                                    <td><%=dataobj.Num_Ratings_TV%></td>
                                    <td>
                                      <form
                                        class="filter"
                                        action="/view_tvshow_details/<%=dataobj.Show_ID%>"
                                        method="get"
                                      >
                                        <input
                                          type="submit"
                                          class="btn btn-info"
                                          value="View Details"
                                        />
                                      </form>
                                    </td>    
                                  </tr>
                                <% x=x+1; }%>
                            </div>
                          </tbody>
                        </table>
                      </div>
                <% } %>

                <h5 class="card-title mb-4 mt-4" style="color: white; border-bottom: 2px solid gray;">TV Shows Produced: &nbsp;&nbsp;&nbsp; 
                    <%if(showdetailspro.length == 0) { %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450">The Celebrity has not Produced any TV Shows</span>
                    <% } %>
                </h5>
                <% if(showdetailspro.length != 0){ %>
                    <div class="scrollbarclass" id="tablefocus" style="max-height: 400px; overflow-y: auto; overflow-x: auto; border-bottom: 2px solid gray; ">
                        <table class="table table-striped table-dark text-nowrap table-responsive" style="color: white; background-color:black;">
                          <thead>
                            <tr>
                                <th scope="col">S.No.</th>
                                <th scope="col">Title</th>
                                <th scope="col">No of Seasons</th>
                                <th scope="col">Release Year</th>
                                <th scope="col">Rating</th>
                                <th scope="col">No. of Ratings</th>
                                <th scope="col"></th>
                            </tr>
                          </thead>
        
                          <tbody>
                            <div>
                              <%let x=1; %> <% for (let dataobj of showdetailspro){ %>
                                <tr>
                                    <th scope="row"><%=x%></th>
                                    <td><%=dataobj.Title%></td>
                                    <td><%=dataobj.Number_Of_Seasons%></td>
                                    <td><%=dataobj.Release_Year%></td>
                                    <td><%=dataobj.TVShow_Rating%></td>
                                    <td><%=dataobj.Num_Ratings_TV%></td>
                                    <td>
                                      <form
                                        class="filter"
                                        action="/view_tvshow_details/<%=dataobj.Show_ID%>"
                                        method="get"
                                      >
                                        <input
                                          type="submit"
                                          class="btn btn-info"
                                          value="View Details"
                                        />
                                      </form>
                                    </td>    
                                  </tr>
                                <% x=x+1; }%>
                            </div>
                          </tbody>
                        </table>
                      </div>
                <% } %>

                <h5 class="card-title mb-4 mt-4" style="color: white;">Number of Works Acted in : &nbsp;&nbsp;&nbsp; 
                    <%if(anum[0].Num_Count == 0) { %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450">None</span>
                    <% } %>
                    <% if(anum[0].Num_Count != 0){ %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450"><%= anum[0].Num_Count %>&nbsp;</span>
                    <% } %>
                </h5>

                <h5 class="card-title mb-4 mt-4" style="color: white;">Number of Works Directed : &nbsp;&nbsp;&nbsp; 
                    <%if(dnum[0].Num_Count == 0) { %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450">None</span>
                    <% } %>
                    <% if(dnum[0].Num_Count != 0){ %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450"><%= dnum[0].Num_Count %>&nbsp;</span>
                    <% } %>
                </h5>

                <h5 class="card-title mb-4 mt-4 pb-5" style="color: white;  border-bottom: 2px solid gray;">Number of Works Produced : &nbsp;&nbsp;&nbsp; 
                    <%if(pnum[0].Num_Count == 0) { %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450">None</span>
                    <% } %>
                    <% if(pnum[0].Num_Count != 0){ %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450"><%= pnum[0].Num_Count %>&nbsp;</span>
                    <% } %>
                </h5>   

                <h5 class="card-title mb-4 mt-4" style="color: white;">Most Famous Movie Acted in: &nbsp;&nbsp;&nbsp; 
                    <%if(afam.length == 0) { %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450">None</span>
                    <% } %>
                    <% if(afam.length != 0){ %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450"><%= afam[0].Movie_Title %>&nbsp;</span>
                    <% } %>
                </h5>

                <h5 class="card-title mb-4 mt-4" style="color: white;">Most Famous Movie Directed : &nbsp;&nbsp;&nbsp; 
                    <%if(dfam.length == 0) { %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450">None</span>
                    <% } %>
                    <% if(dfam.length != 0){ %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450"><%= dfam[0].Movie_Title %>&nbsp;</span>
                    <% } %>
                </h5>

                <h5 class="card-title mb-4 mt-4" style="color: white;">Most Famous Movie Produced : &nbsp;&nbsp;&nbsp; 
                    <%if(pfam.length == 0) { %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450">None</span>
                    <% } %>
                    <% if(pfam.length != 0){ %>
                        <span class="card-title" style="color: white; font-size:1.15rem; font-weight: 450"><%= pfam[0].Movie_Title %>&nbsp;</span>
                    <% } %>
                </h5>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include("../../utils/footer")%>

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
    <script>
      function confirmDelete() {
        var result = confirm("Are you sure you want to delete this user?");
        return result;
      }
    </script>
    <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/chart.js/chart.min.js"></script>
    <script src="/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/assets/vendor/quill/quill.min.js"></script>
    <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>